<!doctype html>
<html ng-app="todo_app">
    <head>
        <meta charset="utf-8">
        <title>My HTML File</title>
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
    <body>
        <div class="container" ng-controller="TodoListController as todo">

            <div class="page-header">
                <h1>ToDo list</h1>
                <small></small>
            </div>

            <div class="col-sm-4"></div>
            <div class="col-sm-4" id="login_window">
                <div class="panel panel-default">
                    <div class="panel-heading">Login window</div>
                    <div class="panel-body">
                        <input type="text" placeholder="Enter username" class="form-control col-sm-12"/>
                        <hr>
                        <button class="btn btn-default col-sm-12">Login</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-4" id="rename_window">
                <div class="panel panel-default">
                    <div class="panel-heading">New name</div>
                    <div class="panel-body">
                        <span>Default users: user1, user2</span>
                        <input type="text" placeholder="Enter new name for list" class="form-control col-sm-12"/>
                        <hr>
                        <button class="btn btn-default col-sm-6">Apply</button>
                        <button class="btn btn-default col-sm-6">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>

            <div class="col-sm-12">

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Your ToDo list
                        </div>
                        <div class="panel-body">
                            <true-list data-list="todo.file_todo_list"  
                                       data-btn-name1="Rename" 
                                       data-btn-name2="Delete">
                            </true-list>
                            <button class="btn btn-default col-sm-12"
                                    ng-click="todo.newTodoList()">
                                New ToDo list
                            </button>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Your Metings list
                        </div>
                        <div class="panel-body">
                            <true-list data-list="todo.file_meet_list" 
                                       data-btn-name1="Rename" 
                                       data-btn-name2="Delete">
                            </true-list>
                            <button class="btn btn-default col-sm-12" ng-click="todo.newMeetingList()">New meetings list</button>
                        </div>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel list</div>
                        <div class="panel-body">
                            <true-list data-list="todo.active_list" 
                                       data-btn-name1="Rename" 
                                       data-btn-name2="Delete">
                            </true-list>
                            <button class="btn btn-default col-sm-12"
                                    ng-click="todo.newItem()">
                                Add new
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/lib/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/todo_list.controller.js"></script>
        <script src="app/modules/todo_app.components.js"></script>
        <script src="app/modules/components/trueList/trueList.js"></script>
    </body>
</html>